* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-block: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
  padding-block: 1.6rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  height: 3.2rem;
}

header .container img {
  height: 6.4rem;
}

header .container h1 {
  color: white;
  font-size: 3.2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.controls input {
  width: 60%;
  padding: 0.4rem;
}

.controls .buttons {
  display: flex;
  gap: 1.2rem;
}

.controls .buttons button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.controls .buttons #lookup-count {
  background-color: rgb(2, 146, 98);
}

.controls .buttons #lookup-cities {
  background-color: rgb(68, 132, 228);
}

#result {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

table th,
table td {
  padding: 12px 15px;
  text-align: left;
}

table thead th {
  background-color: #005f9e;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5px;
}

table tr:nth-child(even) {
  background-color: #f7f9fc;
}

table tr:hover {
  background-color: #e6f1ff;
  transition: 0.2s;
}

table td {
  color: #333;
}

table th,
table td {
  border-bottom: 1px solid #ddd;
}

table tr:last-child td {
  border-bottom: none; 
}
